<div class="articles body">

  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="article #{article.id}">
      
        <div class="a-title"><%= article.title %><br><br></div>
        <div class="a-text"><%= article.text %></div>
      </div>
    <% end %>
  <% end %>
</div>



<%= link_to 'New article', new_article_path %>
<!-- <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>

      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
    </tr>
  <% end %>
</table> -->